{% extends 'base.html' %}

{% load static %}

{% block title %}
Home
{% endblock title %}

{% block content %}

{% for message in messages %}
<div class="div-container">
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
</div>
{% endfor %}

<div class="div-container">
    <div>
        <a href="{% url 'add' %}">
            <button class="btn btn-primary">Add Password</button>
        </a>
    </div>
</div>

<hr>

<div class="div-container">
    <div>
        {% if pwd %}
        <h4>Saved Passwords</h4>
        <ul>
            {% for row in pwd %}
            <li><h5><a href="{% url 'view' row.id %}">{{ row }}</a></h5></li>
            {% endfor %}
        </ul>

        {% endif %}
    </div>
</div>

{% endblock content %}