{% extends 'base.html' %}

{% load static %}

{% block title %}
Profile: {{ user }}
{% endblock title %}

{% block content %}
{% for message in messages %}
<div class="div-container">
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
</div>
{% endfor %}

<div class="div-container">
    <div>
        <h2>Profile</h2>
    </div>

    <div>
        <p><strong>Username: </strong>{{ user }}</p>
        <p><strong>Name: </strong>{{ user.first_name }} {{ user.last_name }}</p>
        <p><strong>Email: </strong>{{ user.email }}</p>
    </div>
</div>

<div class="div-container">
    <div>
        <a href="{% url 'home' %}">
            <button class="btn btn-primary">Check the Passwords</button>
        </a>
    </div>
</div>

<br>

<div class="div-container">
    <div>
        <a href="{% url 'add' %}">
            <button class="btn btn-primary">Add Password</button>
        </a>
    </div>
</div>

{% endblock content %}