{% extends 'base.html' %}

{% load static %}

{% block title %}
  Profile: {{ user }}
{% endblock title %}

{% block content %}
  {% for message in messages %}
    <div class="div-container">
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    </div>
  {% endfor %}

  <div class="div-container">
    <div>
      <h2>Profile: {{ user }}</h2>
    </div>

    <div>
      <p><strong>Username: </strong>{{ user }}</p>
      <p><strong>Name: </strong>{{ user.name }}</p>
      <p><strong>Email: </strong>{{ user.email }}</p>
    </div>
  </div>

{% endblock content %}